.App {
  text-align: center;
}
/* ------------------- scrollbar styles  ---------------------------*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7c7c7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(15, 15, 15);
}
/* ------------------- End of scrollbar styles  ---------------------------*/
